@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://p.typekit.net/p.css?s=1&k=lue6wew&ht=tk&f=25163&a=14350217&app=typekit&e=css");

@font-face {
    font-family: "fatfrank";
    src: url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

:root {
    --font-heading-scale: 0.9090909090909091;
    --primary-bg-color: #f0f2f3;
    --primary-text-color: #676767;
    --danger-color: #ad0505;
    --success-color: #4CAF50;
}

html,
body {
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 2.5rem;
    letter-spacing: -1px;
}

h2 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 2.45rem;
    line-height: 1;
    margin-bottom: 1.65rem;
    letter-spacing: -1px;
    padding-top: 1.15rem;
    padding-bottom: 0.55rem;
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 2.75rem;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1.35;
    }
}

p {
    padding-bottom: 1.55rem;
    line-height: 2.35rem;
    font-size: 1.125rem;
}

ol {
    list-style-type: decimal;
    padding-left: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 1.75rem;
}

ul li p {
    padding-bottom: 0
}

ul li p>b {
    font-family: 'Poppins';
}

.blue-bg {
    background-color: #4faefc;
}

.green-bg {
    background-color: #008f91;
}

.red-bg {
    background-color: #f93e48;
}

.grey-bg {
    background-color: #f8f8f8;
}

.image-text-section p {
    padding-bottom: 1.25rem;
    line-height: 1.75rem;
}

.image-text-section ul li p {
    padding-bottom: 0.75rem
}

.image-text-section ul {
    margin-bottom: 1.25rem;
}

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.herosection {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: white;
}

.splash {
    margin-bottom: 0;
}

h1 *,
h2 * {
    font-family: "fatfrank";
    font-size: 100%;
    /* font-weight: 700; */
}

h1.splash,
h2.splash-h2 {

    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1.2;
}

@media screen and (min-width:1300px) {

    h1.splash,
    h2.splash-h2 {
        line-height: 1.08;
    }
}

h1 .your,
h1 .local {
    font-size: calc(var(--font-heading-scale) * 3rem);
}

h1 .local {
    text-decoration-line: underline;
    text-decoration-color: #fcd832;
}

h1 .las-vegas {
    font-size: calc(var(--font-heading-scale) * 3.4rem);
}

h1 .seo-experts {
    font-size: calc(var(--font-heading-scale) * 2.75rem);
    text-decoration-line: underline;
    text-decoration-color: #fcd832;
}

h2 .we-help-you {
    font-size: calc(var(--font-heading-scale) * 2.65rem);
}

h2 .rank-no-1 {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
}


@media screen and (min-width:1366px) {

    h1 .your,
    h1 .local {
        font-size: calc(var(--font-heading-scale) * 4rem);
    }

    h1 .local {
        text-decoration-line: underline;
        text-decoration-color: #fcd832;
    }

    h1 .las-vegas {
        font-size: calc(var(--font-heading-scale) * 4.6rem);
    }

    h1 .seo-experts {
        font-size: calc(var(--font-heading-scale) * 3.74rem);
    }

    h2 .we-help-you {
        font-size: calc(var(--font-heading-scale) * 3.55rem);
    }

    h2 .rank-no-1 {
        font-size: calc(var(--font-heading-scale) * 4.3rem);
    }
}